version: '3'
services:
  site-loja:
    container_name: site-vidracaria
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always